@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;


@{
    var headline5Content = Model?.Content.Value<string>("headline5Content");
}

@if(!string.IsNullOrEmpty(headline5Content)) 
{
    <h5>@headline5Content</h5>
}