@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;



@{
    var headline4Content = Model?.Content.Value<string>("headline4Content");
}

@if(!string.IsNullOrEmpty(headline4Content))
{
    <h4>@headline4Content</h4>
}