@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var selectedLink = Model?.Content.Value<bool>("selectedLink");
}

@if(selectedLink == true) {
    <a>@selectedLink</a>
}